<html>
    <head>
        <style>
            .reset-btn{
                text-decoration: none;
                padding: 20px 40px;
                font-size: 16px;
                color: #ffff;
                background-color: red;
                border-radius: 8px;
            }
        </style>
    </head>
    <body>
        Hi <%= name %>,
        <br>
        <br>
        <br>
        Here is the link to reset your password
        <br>
        <br>
        <a class="reset-btn" href="<%= resetPasswordURL %>">click here to reset your password</a>
        <br>
        <br>
            thanks<br/>
            RateME Team
    </body>
</html>